*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.top-nav{
    

    /* position: absolute;
    bottom: 80px; */
}
.start{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
}
.carousel-caption{
    margin-bottom: 200px !important ;
}